Repository nicolas-deyros/AI-Catalog-Generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "npm run test:unit -- --run --reporter=basic --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

fix: restore corrupted image banner in README.md
  README.md
Due: prettier --write

fix: resolve remaining TypeScript compilation errors
  playwright.config.ts
  src/components/Dialog.tsx
  tests/e2e/workflow.spec.ts
  tests/setup/vitest.setup.ts
  tests/unit/components/Dialog.test.tsx
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

chore: add test artifacts to .gitignore
  .gitignore
Due: none

fix: improve image enhancement error handling and user guidance
  src/components/ImageEnhancer.tsx
  src/services/geminiService.ts
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

fix: allow professional photography enhancement prompts
  src/components/ImageEnhancer.tsx
  src/services/geminiService.ts
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

docs: update changelog with recent image enhancement improvements
  CHANGELOG.md
Due: prettier --write

feat: Comprehensive photography terminology support in Gemini service
  src/components/ImageEnhancer.tsx
  src/services/geminiService.ts
  tests/e2e/catalog-workflow.e2e.ts
  tests/unit/services/geminiService.test.ts
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

docs: Add comprehensive photography enhancement summary
  PHOTOGRAPHY_ENHANCEMENT_SUMMARY.md
Due: prettier --write

fix: Resolve oklch color function error in PDF generation
  src/components/CatalogPreview.tsx
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

refactor: reorganize repo structure
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .textlintrc.json
  CHANGELOG.md
  CONTRIBUTING.md
  PHOTOGRAPHY_ENHANCEMENT_SUMMARY.md
  README.md
  RECOMMENDATIONS.md
  TESTING_STRATEGY.md
  configs/commitlint.config.js
  configs/eslint.config.js
  configs/playwright.config.ts
  configs/tsconfig.json
  configs/vite.config.ts
  configs/vitest.config.ts
  cspell.json
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/PHOTOGRAPHY_ENHANCEMENT_SUMMARY.md
  docs/RECOMMENDATIONS.md
  docs/TESTING_STRATEGY.md
  package.json
  tests/unit/components/CatalogPreview.test.tsx
  tools/.lintstagedrc.json
  tools/.prettierrc
  tools/.stylelintrc.json
  tools/.textlintrc.json
  tools/cspell.json
  tsconfig.json
  vite.config.ts
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

chore: remove duplicate files and empty test
  .lintstagedrc.json
  .textlintrc.json
  CHANGELOG.md
  CONTRIBUTING.md
  PHOTOGRAPHY_ENHANCEMENT_SUMMARY.md
  RECOMMENDATIONS.md
  TESTING_STRATEGY.md
  cspell.json
  tests/unit/components/CatalogPreview.test.tsx
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

feat: enhance UX with preset buttons and improved delete functionality
  docs/CHANGELOG.md
  src/components/Icon.tsx
  src/components/ImageEnhancer.tsx
  src/components/ImageUploader.tsx
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

feat: Add nano-banana AI generation
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/PHOTOGRAPHY_ENHANCEMENT_SUMMARY.md
  docs/RECOMMENDATIONS.md
  docs/TESTING_STRATEGY.md
  src/components/ImageEnhancer.tsx
  src/components/ImageUploader.tsx
  src/services/geminiService.ts
  src/types/types.ts
  tests/unit/services/geminiService.test.ts
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

feat: implement google's 6-element prompts for ai generation
  src/services/geminiService.ts
Due: eslint --fix, npm run test:unit -- --run --reporter=basic --passWithNoTests, prettier --write

docs: simplify README and fix broken section
  README.md
Due: prettier --write
